form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: stretch; */
  margin: calc(0 - var(--padding));
}

form div {
  margin: var(--padding) !important;
  width: 25em;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
}

form input {
  background-color: var(--highlight_color);
  border: none;
  color: var(--font_color);
  font-size: 1em;
  padding: var(--small_border_radius);
  border-radius: var(--small_border_radius);
  flex: 1 1 auto;
  
  transition: all .4s;
}
form input:focus, form input:hover {
  box-shadow: 0 0 0 2px var(--colors_red);
  outline: none;
}
form input, form label {
  flex-basis: 100%;
  margin: 0;
}
form .break {
  flex-basis: 100%;
}
form label {
  margin: 0 var(--small_border_radius);
  margin-bottom: var(--small_border_radius);
  
  text-align: center;
  display: flex;
  justify-content: space-between;
}