form > div {
  margin: var(--padding) !important;
  width: 25em;
  display: block;
}
form > div {
  display: flex;
  flex-direction: column;
}

form input {
  background-color: var(--highlight_color);
  border: none;
  color: var(--font_color);
  font-size: 1em;
  padding: var(--small_border_radius);
  border-radius: var(--small_border_radius);
  /* width: 100%; */
  flex-grow: 1;
  
  transition: all .4s;
}
form input:focus, form input:hover:not(:disabled) {
  box-shadow: 0 0 0 2px var(--colors_red);
  outline: none;
}
form input, form label {
  margin: 0;
}
form label {
  margin: 0 var(--small_border_radius);
  margin-bottom: var(--small_border_radius);
  
  text-align: center;
  display: flex;
  justify-content: space-between;
}