html {
	background-color: var(--background_color);
	margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

.content, .header {
	margin: var(--padding);
}

.box {
  margin-top: var(--margin-p);
  padding: var(--padding);
  
  border-radius: var(--border_radius);
  background: var(--foreground_color);
}
.box .box {
  background: var(--highlight_color);
}
.box :first-child {
  margin-top: 0;
}
.box :last-child {
  margin-bottom: 0;
}

.heart, .copyrightsign {
  color: var(--colors_red);
}

.spacer {
  flex-grow: 1;
}

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: calc(0px - var(--small_padding)) !important;
}
.flexbox.nostretch {
  align-items: flex-start;
}
.flexbox.column {
	flex-direction: column;
}
.flexbox.row {
	flex-direction: row;
}
.flexbox > * {
	flex: 1 1 auto;
  width: auto;
	margin: var(--small_padding) !important;
}
.flexbox > .break {
	flex-basis: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.div_spacer {
  height: var(--small_padding)
}